<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="browsername" value="chrome"/>
    <parameter name="url" value="http://www.cigna.com"/> 
    <classes>
      <class name="com.cigna.homepage.HomePageHeaderValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
